<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
            <% include ./partials/header %>
    </head>
<body>
    <header>
      <% include ./partials/navigation_session %>
    </header>

        <div class="row">
            <div class="small-7 columns">
                <h1>Bookings</h1>
                    <div class="panel callout radius classes-booked-profile">
                        <% for (var i = user.local.activities.length - 1; i >= 0; i--) { %>
                            <h5><%= user.local.activities[i].title %></h5>
                            <p><strong>Location</strong>: <%= user.local.activities[i].address %></p>
                            <p><%= user.local.activities[i].date %></p>
                            <button class="cancel-activity" data-activity="<%= user.local.activities[i]._id %>">Cancel</button>
                        <% } %>
                    </div>
            </div>  
            
            <div class="small-5 columns">
            <h1>Profile Details</h1>
                <strong>name</strong>: <%= user.local.name %><br>
                <strong>email</strong>: <%= user.local.email %><br> 
            </div>
        </div>

    <% include ./partials/footer %>
    </body>
</html>