<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Activities</title>
    <% include ./partials/header %>
</head>
<body>
   <header>
    <% include ./partials/navigation_session %>
  </header>
  <h1 class='list_title'>Activities</h1>
  <div class="container">
    <ul class="large-block-grid-1">
      <% for(var i = 0; i < activities.length; i++) { %>
      <div class="row">
        <div class="small-6 large-2 columns"><img class='img_activity' src="images/<%= activities[i].image%>"></div>
        <div class="small-6 large-8 columns">
        <h3 class="list_title"><%= activities[i].title%></h3>
        <p><%= activities[i].description%></p>
      </div>
        <div class="small-12 large-2 columns">
          <% var addr_array = activities[i].address.split(",")%>
          <ul class='address'>
            <li class='list_title'>Address:</li>
            <% for(var j = 0; j < addr_array.length; j++){ %>
              <li class='address'><%= addr_array[j] %></li>
            <% } %>
          </ul>
          <p>Age: <%= activities[i].age_from%> to <%= activities[i].age_to%></p>
          <h6 class='list_title'>Date:</h6><span><%= activities[i].date%></span>
<!--           <p>Avail Places ??</p> -->
          <a href="#" class="button tiny success">Book</a>
          <p></p>
        </div>
      </div>
      <% }%>
    </ul>
  </div>
</body>

  <% include ./partials/footer %>
</html>